/* body {
  margin: 0;
  font-family: 'Cinzel',cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: 'Cinzel',cursive;
}

body {
  margin: 0;
 font-family: 'Cinzel',cursive;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
